body {
  background: #121212;
  color: white;
}
.light {
  background: #f4f4f4;
  color: black;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
}

#particles {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.cover-wrap {
  position: relative;
}
.play-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  border: none;
  color: white;
  font-size: 32px;
  opacity: 0;
  transition: 0.3s;
  border-radius: 18px;
}
.cover-wrap:hover .play-overlay {
  opacity: 1;
}

.player-bar {
  animation: pulse 4s infinite ease-in-out;
}
@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 30px rgba(29, 185, 84, 0.4);
  }
  50% {
    box-shadow: 0 0 60px rgba(29, 185, 84, 0.8);
  }
}

.audio-player {
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(145deg, #1f1f1f, #111);
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.15);
  color: white;
}

.info {
  margin-bottom: 12px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  opacity: 0.8;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

#playBtn {
  background: cyan;
  border: none;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 15px cyan;
}

#progress {
  flex: 1;
  accent-color: cyan;
}

#volume {
  width: 70px;
  accent-color: cyan;
}
