{% extends "base.html" %} {% block content %}
<h2 class="fw-bold mb-3">For You</h2>

<input
  class="form-control mb-4"
  placeholder="Search song or artist..."
  onkeyup="filterSongs(this.value)"
/>

<div class="d-flex justify-content-between flex-wrap gap-4">
  {% for s in songs %}
  <div class="audio-player">
    <div class="info">
      <img
        src="{{ s.cover_url }}"
        alt="Gambar {{ s.title }}"
        style="
          object-fit: cover;
          height: 200px;
          width: 100%;
          border-radius: 16px 16px 0 0;
        "
      />
      <div class="title">{{ s.title }}</div>
      <div>{{ s.artist }}</div>
      <div class="time">
        <span id="current" class="current">0:00</span>
        <span id="duration" class="duration">0:00</span>
      </div>
    </div>

    <div class="controls">
      <button id="playBtn" class="playBtn">
        <i class="bi bi-play-fill play-icon"></i>
      </button>
      <input type="range" id="progress" value="0" class="progress" />
      <input
        type="range"
        id="volume"
        min="0"
        max="1"
        step="0.01"
        value="1"
        class="volume"
      />
    </div>

    <audio id="audio" class="audio">
      <source src="{{ s.audio_url }}" type="audio/mpeg" />
    </audio>
  </div>
  {% endfor %}
</div>

{% endblock %}
